<div class="jumbotron text-center">
  <h1 class="mt-5">Oops! 404</h1>
  <p>How did you get here?</p>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-lg-12 mb-4">
      <h3 class="mb-3">Sorry we can't seem to find the page you're looking for.</h3>
      <p>
        There may be a misspelling in the URL entered,
        or the page you are looking for may no longer exist.
      </p>
      <a routerLink="/" class="btn mt-3 btn-success btn-lg">
        Take Me Home </a>
    </div>
  </div>
</div>
